{% from 'message.html' import Message %}
{% extends "base.html" %}

{% block content %}
<div class="channel_container">
    <div class="popup_container">
        <h1 class="channel_name" onclick="document.getElementById('channel-id-details').classList.toggle('invisible')">{{ name }}</h1>
        <div id="channel-id-details" class="invisible popover">Channel ID: {{ id }}</div>
    </div>

    {% for message in messages|sort(attribute="created_at") %}
    {{ Message(message, users, utils) }}
    {% endfor %}
</div>
{% endblock %}
